<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="parametro">
            <h2><span jhiTranslate="gatewayApp.apibankParametro.detail.title">Parametro</span> {{ parametro.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.apibankParametro.vlrMinAbreConta">Vlr Min Abre Conta</span></dt>
                <dd>
                    <span>{{ parametro.vlrMinAbreConta }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.apibankParametro.vlrMaxTransfer">Vlr Max Transfer</span></dt>
                <dd>
                    <span>{{ parametro.vlrMaxTransfer }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/parametro', parametro.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
