<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-deposito-heading" jhiTranslate="gatewayApp.apibankDeposito.home.createOrEditLabel">Create or edit a Deposito</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.apibankDeposito.dataDeposito" for="field_dataDeposito">Data Deposito</label>
                    <div class="input-group">
                        <input id="field_dataDeposito" type="text" class="form-control" name="dataDeposito" ngbDatepicker #dataDepositoDp="ngbDatepicker" formControlName="dataDeposito"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataDepositoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dataDeposito')!.invalid && (editForm.get('dataDeposito')!.dirty || editForm.get('dataDeposito')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dataDeposito')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.apibankDeposito.valor" for="field_valor">Valor</label>
                    <input type="number" class="form-control" name="valor" id="field_valor"
                           formControlName="valor"/>
                    <div *ngIf="editForm.get('valor')!.invalid && (editForm.get('valor')!.dirty || editForm.get('valor')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('valor')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('valor')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                        <small class="form-text text-danger"
                            *ngIf="editForm.get('valor')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
                            This field should be at least 1.
                         </small>   
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.apibankDeposito.account" for="field_account">Account</label>
                    <select class="form-control" id="field_account" name="account" formControlName="accountId">
                        <option *ngIf="!editForm.get('accountId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="accountBankOption.id" *ngFor="let accountBankOption of accountbanks; trackBy: trackById">{{ accountBankOption.numeroConta }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('accountId')!.invalid && (editForm.get('accountId')!.dirty || editForm.get('accountId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('accountId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
