<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="saque">
            <h2><span jhiTranslate="gatewayApp.apibankSaque.detail.title">Saque</span> {{ saque.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.apibankSaque.dataSaque">Data Saque</span></dt>
                <dd>
                    <span>{{ saque.dataSaque }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.apibankSaque.valor">Valor</span></dt>
                <dd>
                    <span>{{ saque.valor }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.apibankSaque.account">Account</span></dt>
                <dd>
                    <div *ngIf="saque.accountId">
                        <a [routerLink]="['/account-bank', saque.accountId, 'view']">{{ saque.accountNumeroConta }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/saque', saque.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
